

#menu{
	height: 60px;
	width:100%;
	background-color:dimgrey;
	color:bisque;
	opacity: 0.7;
	filter:alpha (opacity=70);
	
}


#logo{
	float:right;
	line-height: 40px;
	padding-right: 10px;
	margin-top: 10px;
   	
}


.form-control{
	height: 10px;
	
  width: 50px;
}

.menu-all .menu-item{
	float:left;
	padding: 10px;
	list-style-type: none;
	line-height: 40px;
	font-family:serif;
	

}
.menu-all .menu-item:hover{
	background-color: #2E2E2E;
	color: bisque;
	

}






#wsfooter{
	clear:both;
	text-align: center;
	background-color:  #2E2E2E;
	padding: 30px 0;
	color: bisque;
    font-family: serif;
	
}

.cv{
	
}

///////////////////


* {
    box-sizing: border-box;
	
}
/*This just stops me getting horizontal scrolling if anything overflows the width*/
body {
    overflow-x: hidden;
	height: auto;
}
/*Just removing default browser padding/margin*/
html,
body {
    padding: 0;
    margin: 0;
    color: #ebebeb;
}
#nav{
	width: 100%;
	height: 400px;
	background:url(gg.jpg) no-repeat center center;
	background-size:cover;
	margin-top: -10px;
    
}



/*.Top {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#2E2E2E;
    font-size: 3rem;
    position: relative;
    height: 500px;
}*/
/*This is our main wrapping element, it's made 100vh high to ensure it is always the correct size and then moved into place and padded with negative margin and padding*/
.Container {
    display: flex;
    overflow: hidden;
    height: auto;
    margin-top: -100px;
    padding-top: 100px;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}
/*All the scrollable sections should overflow and be whatever height they need to be. As they are flex-items (due to being inside a flex container) they could be made to stretch full height at all times if needed.
WebKit inertia scrolling is being added here for any present/future devices that are able to make use of it.
*/

.Right {
    overflow: auto;
    height: auto;
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}
/*Entirely optional – just wanted to remove the scrollbar on WebKit browsers as I find them ugly*/
.Right::-webkit-scrollbar {
    display: none;
}
/*  Left and Right are set sizes while the Middle is set to flex one so it occupies all remaining space. This could be set as a width too if prefereable, perhaps using calc.*/
.Left {
    width: 40%;
   
	display: 
    overflow: hidden;
    height: auto;
}



.Right {
    width: 60%;
    background-color: white;
	
}




.top-content1{             
	font-size: 90%;
	font-family:;
	width: 100%;
    clear: both;
	height:205px;
	background-color:dimgrey;
	padding: 3%;

}

	
	
	
.top-content2{          
	font-size: 90%;
	font-family:;
	width: 100%;
    clear: both;
	height:302px;
	background-color:dimgrey;
	padding: 3%;
	
	
	
}


.top-content3{             
	font-size: 90%;
	font-family:;
	width: 100%;
    clear: both;
	height:302px;;
	background-color:dimgrey;
	padding: 3%;
	float: left
	
}

.top-content4{             
	font-size: 90%;
	font-family:;
	width: 100%;
    clear: both;
	height:250px;
	background-color:dimgrey;
	padding: 3%;
	float: left
	
}

h6, h4{
	color:bisque;
}


a:link, a:visited {
	color:bisque;
	text-decoration:none;
	text-align: center;
}
a:hover{
	color:bisque;
	
}

